/* App.css */

.app {
    min-height: 100vh; /* Ensures the app takes the full height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease; /* Smooth transition for background color */
  }
  
  /* Light mode styles */
  .app.light {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Light gradient background */
  }
  
  /* Dark mode styles */
  .app.dark {
    background: linear-gradient(to right, #41275e, #2d2d52); /* Dark gradient background */
  }
  
  .events-container {
    display: flex; /* Use Flexbox for row layout */
    flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
    justify-content: center; /* Center the cards horizontally */
    margin: 20px; /* Margin around the container */
  }
  