/* src/components/Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradient background */
  border-radius: 15px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  height: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  color: #fff; /* White text color */
  text-align: center;
}

.modal-content img {
  width: 50%; /* Responsive image */
  height: 50%;
  border-radius: 10px;
  margin-bottom: 15px;
}

